body{
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: Arial;
    text-align: center;
    color: white;
}

.container{
    margin-top: 50px;
}

.photo{
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

button{
    padding: 12px 25px;
    border: none;
    background: white;
    color: #ff4b7d;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    background: #ffe6ec;
}
#hearts {
    position: fixed;
    top: 0;
    left:0 ;
    width: 100%;
    height:100%;
    pointer-events: none;
}
.heart {
position: absolute;
color: red;
font-size: 24px;
animation: fall 5s linear forwards;
}

@keyframes fall {
from {transform: translateY(-10vh);
opacity: 1;}
to{transform: translateY(100vh);
opacity: 0;}

}