body{
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    font-family: Arial;
    text-align: center;
    color: white;
}

.container{
    margin-top: 50px;
}

.photo{
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

button{
    padding: 12px 25px;
    border: none;
    background: white;
    color: #ff4b7d;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover{
    background: #ffe6ec;
}
#hearts {
    position: fixed;
    top: 0;
    left:0 ;
    width: 100%;
    height:100%;
    pointer-events: none;
}
.falling-heart {
position: absolute;
color: red;
font-size: 24px;
animation: fall 5s linear forwards;
}

@keyframes fall {
from {transform: translateY(-10vh);
opacity: 1;}
to{transform: translateY(100vh);
opacity: 0;}

}
/* Mobile adjustments */
@media (max-width: 600px){
    .mainTitle{font-size: 32px;}
    .subTitle{font-size: 17px;padding: 0 20px;}

    h1{
        font-size: 28px;
    }

    #message{
        font-size: 18px;
        padding: 10px;
    }

    #typing{
        font-size: 20px;
    }

    #counter{
        font-size: 18px;
    }

    .photo{
        width: 80%;
    }

    button{
        font-size: 18px;
        padding: 14px 22px;
    }
}
#intro {
    position: fixed;
    width: 100%;
height: 100%;
background: #0f1320;
display: flex;
justify-content: center;
align-items: center;
z-index: 9999;
pointer-events: auto;
}
.envelope {
    width: 260px;
height: 170px;
border: 2px solid #ff7eb3;
border-radius: 18px;
position: relative;
box-shadow: 0 0 25px #ff7eb3;
cursor: pointer;
transition: transform 0.6s ease;
pointer-events: auto;
}
.seal{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;

background: #0f1320;
padding: 8px;
border-radius: 50%;
box-shadow: 0 0 20px pink;
}
.tap {
    position:absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 14px;
color: #ffb3d1;
opacity: 0.8;}
.envelope.open {
    transform: scale(1.2) rotateX(25deg);
    opacity: 0;
    transition: all 1s ease;
}
.hero {
    height :100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: radial-gradient(circle at center ,#1a1f38,#0f1320);
    text-align: center;
    color: white;
}
.mainTitle {
    font-size: 48px;
    letter-spacing: 3px;
    animation: fadeIn 2s ease forwards;
}
.subTitle {
    margin-top: 15px;
    font-size: 20px;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
}
.scrollDown{
    position: absolute;
    bottom: 30px;
    font-size: 26px;
    opacity: 0.6;
    animation: bounce 2s infinite;
}
@keyframes fadeIn {
    from{ opacity: 0; transform : translateY(20px);}
    to{opacity: 1;transform: translateY(0);}
}
@keyframes bounce {0%,100%{transform: translateY(0);}
50%{transform: translateY(10px);}
}